body{
  background-color: #1e2124;
  margin: 0;
}

.navbar{
  background-color: #424549;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 60px;
}

.title-img{
  width: 28px;
  height: 28px;
  position: relative;
  left: 50px;
}
.logo-txt{
  color: #fff;
  font-family: Gothic A1;
  position: relative;
  left: 61px;
  top: 8px;
  font-size: 1.2rem;
}

.navbar .search-people{
  position: relative;
  left: 280px;
  text-align: left;
  padding-left: 30px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-color: #1e2124;
  border: none;
}
.navbar .search-button{
  position: relative;
  left: 280px;
  text-align: left;
  padding-left: 30px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  height: 40px;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}
input{
  caret-color: white;
  color: white;
  width: 300px !important;
}

.fa-magnifying-glass{
  position: relative;
  right: 18px;
}

[placeholder]{
  color: #424549;
}

.nav-link{
  margin: 30px;
}

.fa-comment{
  color: 	#fff;
  font-size: 1.5rem;
}

.fa-comment:hover{
  color: 	#7289da;
}
.fa-image-portrait{
  color: 	#fff;
  font-size: 1.5rem;
  margin-right: 60px;
}
.fa-image-portrait:hover{
  color: 	#7289da;
}

.fa-video{
  color: 	#fff;
  font-size: 1.5rem;
}

.fa-video:hover{
  color: 	#7289da;
}

#hideNavbar{
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw,15vh,0);
  width: 100vw;
  height: 15vh;
  background-color: #1e2124;
}
#hideNavbar.visible{
  transform: translate3d(0, 0, 0);
}
.fa-arrow-left{
  position: relative;
  left: 5px;
  top: 5px;
  font-size: 1.8rem;
  color: #fff;
}

.fa-arrow-left:hover{
  font-size: 2rem;
  color: #7289da;
}
#theStoriesMenu{
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-24vw,12vh,0);
  width: 24vw;
  height: 84vh;
  background-color: #1e2124;
}
#theStoriesMenu.visible{
  transform: translate3d(38vw, 10vh, 0);
}

.carousel-item{
  background-color: black;
  height: 84vh;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#reactionsmenu{
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-34vw,12vh,0);
  width: 10vw;
  height: 84vh;
  background-color: #1e2124;
}
#reactionsmenu.visible{
  transform: translate3d(65vw, 10vh, 0);
}

.fa-thumbs-up{
  font-size: 2.2rem;
  color: #d6d5cb;
}

/* chat menu */


#theMenu{
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(40vw,65px,0);
  transition: transform 500ms ease-in-out 25ms;
  width: 40vw;
  height: 92.5vh;
  overflow-y: auto;
  background-color: #424549;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#424549; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e2124; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7289da;
}

#theMenu.visible{
  transform: translate3d(0, 65px,0);
  border-radius: 10px 0 0 10px;
}

#theMenu a{
  text-decoration: none;
  color: #7289da;
}
.fa-xmark{
  position: relative;
  left: 5px;
  top: 5px;
  font-size: 1.8rem;
  color: #fff;
}

.fa-xmark:hover{
  font-size: 2rem;
  color: #7289da;
}

#theMenu .profile{
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile .user-details{
  display: inline-block;
  padding-left: 10px;
}

.profile span{
  font-size: 130%;
}

.user-details p{
  margin: 0;
}

#theMenu img{
  width: 40px;
}
.users .search{
  display: inline-block;
  margin: 20px;
}
.search .search-people{
  text-align: left;
  background-size: 15px;
  background-repeat: no-repeat;
  background-color: #1e2124;
  border: none;
  height: 40px;
}

.search .search-button{
  text-align: left;
  padding-left: 30px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  height: 40px;
}

.chat-users{
  margin: 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1e2124;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.chat-users:hover{
  transform: translate(-12px, -12px);
}

.chat-users span {
  font-weight: 600;
}

.chat-users .user-details{
  padding-left: 10px;
}